<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form id="signForm" method="POST" action="">{% csrf_token %}
        <input id="username" name="username" type="text" placeholder="RoomName">
        <input id="password" name="password" type="password" placeholder="SignInPassword">
        <input id="email" name="email" type="text" placeholder="addEmail">
        <button type="submit" id="go">Submit</button>
    </form>
</body>
</html>
